/*h1, h3{
    font-family: fira-code-semibold, sans-serif;
}
.title, .banner{
    text-align: center;
    font-family: fira-code, sans-serif;
    background-color: #353535;
    color: #EEEEEC;
    display: block;
    margin: 0 auto;
    padding: 2% 0;
}

.title{
    display: inline-block;
}
.prompt{
    color: #739FCF;
}

p, form, ul, li{
    font-family: fira-light;
}

.isopen{
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #EF2929;
    color: #EEEEEC;
    margin: 0 auto;
    padding: 1% 0;
}

/* fonts */

/*
@font-face {
    font-family: fira;
    src: url("../fonts/fira/FiraSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: fira-code-semibold;
    src: url("../fonts/firacode/FiraCode-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: fira-light;
    src: url("../fonts/fira/FiraSans-Light.otf") format("opentype");
}

@font-face {
    font-family: fira-code;
    src: url("../fonts/firacode/FiraCode-Regular.otf") format("opentype");
}
*/
